extends layout

block content
	h3 Welcome the index page 
  
	h5 Headings
	ul
		for entry in contentful.homePage
			li 
				p=entry.heading

	h5 PortFolio Items
	for entry in contentful.portfolioItem

		p=entry.heading


	p= JSON.stringify(contentful)
